body{
  background-color: black;
   color: #d3f7d2;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1c1c1c;
    position: -webkit-sticky; /* Safari */
position: sticky;
top: 0;
}

li {
    float: right;
}
li a {
    display: block;
    color: #d3f7d2;
    text-align: Center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Calibri";
}

/* Change the link color to #070707 (black) on hover */
li a:hover {
    background-color: #00e60e;
  color: black;

}
div{
  position: center;
}

box-sizing: border-box;
}

body {
margin: 0;
font-family: Arial;
position: center;
}

/* The grid: Four equal columns that floats next to each other */
.column {
float: left;
width: 10%;
padding: 10px;
}

/* Style the images inside the grid */
.column img {
opacity: 0.8;
cursor: pointer;
}

.column img:hover {
opacity: 100;
}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}

/* The expanding image container */
.container {
position: relative;
display: none;
}

/* Expanding image text */
#imgtext {
position: absolute;
bottom: 15px;
left: 15px;
color: white;
font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
position: absolute;
top: 10px;
right: 15px;
color: white;
font-size: 35px;
cursor: pointer;
}
